body {
    background: url("Hall.jpg") no-repeat;
    background-size: cover;
}

#hallSignUp {
    font-family: 'Pacifico', cursive, Arial;
}

#hallSignUpHeader {
    text-align: center;
    color: black;
    margin-top: 100px;
    font-weight: bold;
}

input {
    margin-left: 40%;
    margin-bottom: 1%;
    width: 290px;
    height: 30px;
    box-sizing: border-box;
    border: none;
    font-family: 'Pacifico', cursive, Arial;
}

input[type="text"],
input[type="Date"],
input[type="password"],
input[type="email"] {
    border-bottom: 2px solid white;
    outline: none;
    background: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

input[type="text"]:focus,
input[type="Date"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    color: red;
    width: 40%;
}

input[type="text"]:hover,
input[type="Date"]:hover,
input[type="password"]:hover,
input[type="email"]:hover {
    color: black;
    font-size: 18px;
}

input[type="submit"] {
    background: black;
    opacity: 1;
    color: white;
}

table th {
    text-align: center;
    background: black;
    color: white;
    padding: 10px 40px 10px 40px;
}

table td {
    border: 1px solid black;
    margin-left: 10px;
}

#hallCapacityHeader {
    margin-left: 50px;
    color: black;
    font-weight: bold;
    margin-top: 5%;
}

#hallCapacityDiv {
    display: grid;
    grid-template-columns: 10% 60%;
    grid-column-gap: 30%;
}

#hallCreate {
    width: 222%;
}

#hallCapacity {
    width: 222%;
}

#hallRow {
    width: 222%;
}

#hallCreateSubmit {
    margin-top: 10px;
}

#scheduleHeader {
    margin-top: 8%;
    margin-left: 50px;
    font-weight: bold;
}

#scheduleController {
    display: grid;
    grid-template-columns: 40% 60%;
}

#scheduleFormPart {
    margin-left: 50px;
}

#scheduleDate {
    margin-left: 8px;
}

#scheduleTime {
    margin-left: 8px;
}

#scheduleDDel {
    margin-left: 8px;
}

#scheduleCreate {
    margin-left: 8px;
}

#scheduleEdit {
    margin-left: 8px;
}

#scheduleDelete {
    margin-left: 8px;
}

.schedule {
    margin-left: 8px;
}