body {
    /*Needs to be changed*/
    background: url("signUpImage.jpeg") no-repeat;
    background-size: cover;
    font-family: 'Pacifico', cursive, Arial;
}

#signUpHeader {
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

#signForm {
    display: grid;
    grid-template-columns: 1fr;
    background: white;
    opacity: 2;
    margin-left: 10%;
    margin-right: 10%;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"] {
    width: 70%;
}

.formBox {
    box-sizing: border-box;
    background: white;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    margin-left: 2%;
    margin-top: 2%;
    height: 30px;
    color: red;
}

h2 {
    margin-left: 2%;
}

input[type="radio"] {
    margin-left: 2%;
}

input[type="submit"] {
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
    height: 35px;
    margin-left: 350px;
    width: 200px;
    background: red;
    box-sizing: border-box;
    color: white;
    font-family: 'Pacifico', cursive, Arial;
}

input[type="file"] {
    width: 70%;
    margin-left: 2%;
    background: black;
    color: white;
}