/*The Log in Form part*/

.form {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.form-container {
    background: #e6e6e6;
    border: 1px solid #0f0f57;
    padding: 30px 40px;
    box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    margin-top: 10%;
}


/*Designing a simple form*/

.simple-form {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}